<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Книга</title>
    </head>

    <body>
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ' (' + book.getPublishingYear() + ')'}"></p>
        <div th:if="${attachedPerson == null && people != null}">
            <p>Эта книга сейчас свободна. Кому назначить ее?</p>
            <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
                <label for="person_selection">Выберите человека:</label>
                <select id="person_selection" th:object="${person}" th:field="*{id}">
                    <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
                </select>
                <input type="submit" value="Назначить">
            </form>
        </div>
        <div th:if="${attachedPerson != null && people == null}">
            <p th:text="${'Книга сейчас у: ' + attachedPerson.getFullName()}"></p>
            <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
                <input type="submit" value="Освободить книгу">
            </form>
        </div>
        <hr/>
        <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
            <input type="submit" value="Редактировать">
        </form>
        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" style="margin-top: 10px;">
            <input type="submit" value="Удалить">
        </form>
    </body>
</html>
